@import "tailwindcss";


@keyframes hotGlow {
  0% {
    box-shadow: 0 0 0 rgba(239, 68, 68, 0.6);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 18px rgba(239, 68, 68, 0.9);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 0 rgba(239, 68, 68, 0.6);
    transform: scale(1);
  }
}

.hot-deal-glow {
  animation: hotGlow 1.6s infinite;
}
